// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.global-nav {
  text-align: center;
  font-size: 25px;
  margin: auto;
  width: 100%;
  background-color: white;
  height: auto;
  transition: 0.15s;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 50px;
  font-family: Yu Gothic;
}

.global-nav .nav-item a{
 color: #666;
 height: 30px;
 line-heigh: 30px;
 border-radius: 8px;
 transition: 0.15s;
}



.global-nav .nav-item a:hover {
 color: #3399FF;
}


.wrapper_table {
 background-color: white;
 pading: 50px 50px 50px 50px;
 margin: auto;
 max-width: 1000px;

}

.container {
 margin-top: 50px;
 font-family: Yu Gothic;
 margin: auto;
 min-height: 500px;
 max-width: 800px;
}

.table table-condensed {
  text-align: center;
}


th {
  text-align: center;
}